<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <Meta charset="UTF-8">
    <title>Somsiad wyniki listy</title>
    <script type="application/javascript" src="../../js/validationCommon.js"></script>
    <link rel="stylesheet" href="../../css/style.css">
</head>

<body>
    <Header>
        <div class="tv">
            <h1>Usówanie!</h1>
            <img src="../../images/serio.jpg" class="image-serio"
                alt="Obrazek przedstawiający tytułowych bogaterów bajki 'Sąsiedzi'">
        </div>

    </Header>
    <nav>
        <ul>
            <li><a href="../../index.html">Strona główna</a></li>
            <li><a href="list.html" class="active">Somsiedzi</a></li>
            <li><a href="../local/list.html">Mieszkania</a></li>
            <li><a href="../resident_local/list.html">Somsiedzi w mieszkaniach</a></li>
        </ul>
    </nav>
    <main>
        <h2>Czy chcesz usunąć rekord?</h2>

        <div class="yes-or-no-buttons">
            <a href="deleted.html" class="select-button-edit">Tak</a>
            <a href="list.html" class="select-button-cancel">Nie</a>
        </div>

    </main>
    <footer>
        Jakub Kiljański s18482
    </footer>
</body>

</html>