<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <Meta charset="UTF-8">
    <script type="application/javascript" src="../../js/validationCommon.js"></script>
    <title>Somsiad w mieszkaniu formularz</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>

<body>
    <Header>
        <div class="tv">
            <h1>Somsiad w mieszkaniu</h1>
            <img src="../../images/s_w_m.jfif" alt="Obrazek przedstawiający tytułowych bogaterów bajki 'Sąsiedzi'">
        </div>
    </Header>
    <nav>
        <ul>
            <li><a href="../../index.html">Strona główna</a></li>
            <li><a href="list.html">Somsiedzi</a></li>
            <li><a href="../local/list.html">Mieszkania</a></li>
            <li><a href="../resident_local/list.html" class="active">Somsiedzi w mieszkaniach</a></li>
        </ul>
    </nav>
    <main>
        <h2>Nowy somsiad w mieszkaniu</h2>
        <form class="form">

            <label for="somsiad">Somsiad: *</label>
            <select name="somsiad" id="somsiad" class="error-input" required>
                <option value="--">...</option>
                <option value="--">Przemysław Klijański</option>
                <option value="--">Grzegorz Brzęczyszczykiewicz</option>
            </select>
            <span id="errorSomsiad" class="errors-text">Pole jest wymagane</span>

            <label for="od">Data wprowadzki: *</label>
            <input type="date" name="od" id="od" class="error-input" required />
            <span id="errorOd" class="errors-text">Pole jest wymagane</span>

            <label for="do">Data wyprowadzki: </label>
            <input type="date" name="do" id="do" />
            <span id="errorDo" class="errors-text"></span>

            <label for="mieszkanie">Mieszkanie: *</label>
            <select name="mieszkanie" id="mieszkanie" class="error-input" required>
                <option value="--">...</option>
                <option value="--">Warszawa, Panieńska 5/30</option>
                <option value="--">Kazimierz Dolny, Olchowa 2</option>
            </select>
            <span id="errorMieszkanie" class="errors-text">Pole jest wymagane</span>

            <div class="form-buttons">
                <input type="submit" class="form-button-submit" value="Dodaj" />
                <a href="../resident_local/list.html" class="form-button-cancel">Anuluj</a>
            </div>
        </form>
    </main>
    <footer>
        Jakub Kiljański s18482
    </footer>
</body>

</html>