<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <Meta charset="UTF-8">
    <script type="application/javascript" src="../../js/validationCommon.js"></script>
    <title>Somsiad w mieszkaniu lista pusta</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>

<body>
    <Header>
        <div class="tv">
            <h1>Somsiad w mieszkaniu</h1>
            <img src="../../images/s_w_m.jfif" alt="Obrazek przedstawiający tytułowych bogaterów bajki 'Sąsiedzi'">
        </div>
    </Header>
    <nav>
        <ul>
            <li><a href="../../index.html">Strona główna</a></li>
            <li><a href="list.html">Somsiedzi</a></li>
            <li><a href="../local/list.html">Mieszkania</a></li>
            <li><a href="../resident_local/list.html" class="active">Somsiedzi w mieszkaniach</a></li>
        </ul>
    </nav>
    <main>
        <h2>Lista somsiadów w mieszkaniach</h2>
        <p>Brak rekordów do wyświetlenia</p>
        <p><a href="form.html" class="button-add">Dodaj nowego somsiada w nieszkaniu</a></p>
    </main>
    <footer>
        Jakub Kiljański s18482
    </footer>
</body>

</html>